<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>
<div class="container">
    <p *ngIf="message.length" class="alert alert-info">{{message}}</p>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/registration']" class="btn btn-primary">
                            New Photo
                        </a>
                    </span>
                    <input #filterText (keyup)="0" class="form-control" placeholder="Filter by photo title">
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <panel *ngFor="let photo of photos | titleFilter: filterText.value" title="{{photo.titulo | uppercase}}" class="col-md-2">
            <a [routerLink]="['/registration', photo._id]">
                <photo url="{{photo.url}}" title="{{photo.titulo}}"></photo>
            </a>
            <button class="btn btn-danger btn-block" (click)="remove(photo)">Remove</button>
        </panel>
    </div>
</div>