<div class="container">
    <form [formGroup]="myForm" class="row" (submit)="insert($event)">
        <div class="col-md-6">
            <div class="form-group">
                <label>Title</label>
                <input name="titulo"
                    formControlName="title"
                    [(ngModel)]="photo.titulo" 
                    class="form-control" 
                    autocomplete="off">
                    <span *ngIf="myForm.controls.title.invalid" class="form-control alert-danger">
                        Title is required
                    </span>
            </div>
            <div class="form-group">
                <label>URL</label>
                <input name="url"
                    formControlName="url"
                    [(ngModel)]="photo.url" 
                    class="form-control"
                    autocomplete="off">
                    <span *ngIf="myForm.controls.url.invalid" class="form-control alert-danger">
                        URL is required
                    </span>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="descricao"
                    formControlName="description" 
                    [(ngModel)]="photo.descricao" 
                    class="form-control" 
                    autocomplete="off"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
                Save
            </button>
            <a [routerLink]="['']" class="btn btn-primary">Back</a>
        </div>
    </form>
</div>